{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container mt-5">
<h2>Cursos</h2>
<hr>
<div class="row">
      {% for curso in cursos %}
  <div class="col-12 mb-3">
      <form action="{% url 'deletar_curso' curso.pk %}" method="post">
            {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-md-8">
              <span class="fw-bold nome">{{ curso.nome }} {{ curso.periodo}}</span><br>

            </div>
            <div class="col-md-4 text-end">
              <a href="{% url 'editar_curso' curso.id %}" class="btn btn-primary btn-sm">
                      Editar
              </a>
              <button type="submit" class="btn btn-danger btn-sm">
                      Deletar
              </button>
            </div>
        </div>
      </form>
  </div>
      {% empty %}
  <div class="col-12">
      <p>Nenhum curso encontrado.</p>
  </div>
      {% endfor %}
</div>
{% endblock %}
