{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="container mt-5">
<h2>Alunos</h2>
<hr>
<div class="row">
      {% for aluno in alunos %}
  <div class="col-12 mb-3">
      <form action="{% url 'deletar_aluno' aluno.pk %}" method="post">
            {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-md-8">
              <span class="fw-bold nome">{{ aluno.nome }} {{ aluno.sobrenome }}</span> <br>
                <medium>
                    CPF: {{ aluno.cpf }}  |  Data de Nascimento: {{aluno.dataNascimento}} <br><br>
                    Telefone: {{aluno.telefone}} |  E-mail: {{aluno.email}} <br>
                    Endereço:  {{aluno.cidade}}-{{aluno.UF}} | {{aluno.endereco_logradouro}}, {{aluno.endereco_complemento}} <br>
                    Data de Matrícula: {{aluno.dataMatricula}} |  Número de Matrícula: {{aluno.numeroMatricula}}
                </medium>
            </div>
            <div class="col-md-4 text-end">
              <a href="{% url 'editar_aluno' aluno.id %}" class="btn btn-primary btn-sm">
                      Editar
              </a>
              <button type="submit" class="btn btn-danger btn-sm">
                      Deletar
              </button>
            </div>
        </div>
      </form>
      <hr>
  </div>
      {% empty %}
        <div class="col-12">
            <p>Nenhum aluno encontrado.</p>
        </div>
      {% endfor %}
</div>
{% endblock %}
