{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container mt-5">
<h2>Professores</h2>
<hr>
<div class="row">
      {% for professor in professores %}
  <div class="col-12 mb-3">
      <form action="{% url 'deletar_professor' professor.pk %}" method="post">
            {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-md-8">
              <span class="fw-bold nome">{{ professor.nome }} {{ professor.sobrenome }}</span><br>
              <medium>
                CPF: {{ professor.cpf }}  |  Data de Nascimento: {{professor.dataNascimento}} <br><br>
                Telefone: {{professor.telefone}} |  E-mail: {{professor.email}} <br>
                Endereço:  {{professor.cidade}}-{{professor.UF}} | {{professor.endereco_logradouro}}, {{professor.endereco_complemento}} <br>
                Data de Contratação: {{professor.dataContratacao}} |  Regime de Contratação: {{professor.regimeContratacao}}
            </medium>
            </div>
            <div class="col-md-4 text-end">
              <a href="{% url 'editar_professor' professor.id %}" class="btn btn-primary btn-sm">
                      Editar
              </a>
              <button type="submit" class="btn btn-danger btn-sm">
                      Deletar
              </button>
            </div>
        </div>
      </form>
      <hr>
  </div>
      {% empty %}
  <div class="col-12">
      <p>Nenhum professor encontrado.</p>
  </div>
      {% endfor %}
</div>
{% endblock %}
